<section class="standings-panel panel p-3">
  <h2>ZÁPASY</h2>
  <ul class="matches-list">
    <li>
      <span> PŘÍPRAVA • 26.8.2021</span>
      <a href="#"> SUM - VSE 4:1 </a>
    </li>
    <li>
      <span> PŘÍPRAVA • 26.8.2021</span>
      <a href="#"> SUM - VSE 4:1 </a>
    </li>
    <li>
      <span> PŘÍPRAVA • 26.8.2021</span>
      <a href="#"> SUM - VSE 4:1 </a>
    </li>
    <li>
      <span> PŘÍPRAVA • 26.8.2021</span>
      <a href="#"> SUM - VSE 4:1 </a>
    </li>
  </ul>
  <a target="_blank" href="#" class="standings-panel__pub">
    <img
      class="w-100"
      src="https://via.placeholder.com/320x150"
      loading="lazy"
      alt=""
    />
  </a>
</section>
