<section class="standings-panel panel p-3">
  <h2>Soupisky</h2>
  <ul class="roaster">
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a class="active" href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span></a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span></a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span> </a>
    </li>
    <li>
      <a href="#"> Adam Pavlíček <span>(Brankář)</span></a>
    </li>
  </ul>
</section>
