<section class="standings-panel panel p-3">
  <h2>Tabulka A-tým</h2>
  <table class="w-100 ms-0">
    <thead>
      <tr>
        <th title="pořadí v tabulce">P.</th>
        <th>TÝM</th>
        <th class="text-center" title="počet oderaných zápasů">Z</th>
        <th class="text-center" title="počet bodů">B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-weight-bold">1.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          FC Slovan Havlíčkův Brod
        </td>
        <td class="text-center">19</td>
        <td class="text-center font-weight-bold">16</td>
      </tr>
      <tr>
        <td class="font-weight-bold">2.</td>
        <td class="text-nowrap">
          <img
            src="images/ico/logo.svg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          MSK Břeclav
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">6</td>
      </tr>
      <tr>
        <td class="font-weight-bold">3.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          A.F.C. Humpolec
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">4</td>
      </tr>
      <tr>
        <td class="font-weight-bold">4.</td>
        <td class="text-nowrap">
          <img
            src="images/ico/logo.svg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          FC Vysočina Jihlava
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">4</td>
      </tr>
      <tr>
        <td class="font-weight-bold">5.</td>
        <td class="text-nowrap">
          <img
            src="images/ico/logo.svg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          TJ Sokol Lanžhot
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">4</td>
      </tr>
      <tr>
        <td class="font-weight-bold">6.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo.jpg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          FC PBS Velká Bíteš
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      <tr>
        <td class="font-weight-bold">7.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          FC ŽĎAS Žďár nad Sázavou
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      <tr>
        <td class="font-weight-bold">8.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          TJ Start Brno
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      <tr>
        <td class="font-weight-bold">9.</td>
        <td class="text-nowrap">
          <img
            src="images/ico/logo.svg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          TJ Tatran Bohunice
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">3</td>
      </tr>
      <tr>
        <td class="font-weight-bold">10.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          SK Bystřice nad Pernštejnem
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">1</td>
      </tr>
      <tr>
        <td class="font-weight-bold">11.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          Tatran Ždírec nad Doubravou
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">1</td>
      </tr>
      <tr>
        <td class="font-weight-bold">12.</td>
        <td class="text-nowrap">
          <img
            src="images/ico/logo.svg"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          TJ Dálnice Speřice
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">1</td>
      </tr>
      <tr>
        <td class="font-weight-bold">13.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          TJ Sokol Tasovice
        </td>
        <td class="text-center">1</td>
        <td class="text-center font-weight-bold">1</td>
      </tr>
      <tr>
        <td class="font-weight-bold">14.</td>
        <td class="text-nowrap">
          <img
            src="images/content/logo-2.png"
            width="24"
            height="24"
            class="lazyload me-3"
          />
          SFC Stará Říše
        </td>
        <td class="text-center">2</td>
        <td class="text-center font-weight-bold">0</td>
      </tr>
    </tbody>
  </table>
</section>
