<section class="standings-panel panel p-3">
  <h2>zprávy</h2>
  <ul class="news-list">
    <li>
      <span>15. 8. 2023</span>
      <a href="#"> Nábor malých fotbalistů ročníku 2018 </a>
    </li>
    <li>
      <span>14. 8. 2023</span>
      <a href="#"> Béčko doma přestřílelo Čáslav </a>
    </li>
    <li>
      <span>12. 8. 2023</span>
      <a href="#"> Z Brna s porážkou 1:4 </a>
    </li>
  </ul>
  <a href="#" class="button d-block m-auto my-5"> další zprávy</a>
  <a target="_blank" href="#" class="standings-panel__pub">
    <img
      class="w-100"
      src="https://via.placeholder.com/320x150"
      loading="lazy"
      alt=""
    />
  </a>
</section>

<section class="standings-panel panel p-3">
  <h2>Aktuality</h2>
  <div class="panel-posts">
    <a href="#" class="panel-post">
      <div class="panel-post__date">26. 8. 2022 | 12:12</div>
      <div class="panel-post__title">2. kolo v Zápech</div>
      <p>
        Ve druhém kole pohárového MOL Cupu se představíme na hřišti SK Zápy.
        Úředním termínem utkání je středa 14. září od 17 hodin. Ve druhém kole
        pohárového MOL Cupu se představíme na hřišti SK Zápy. Úředním termínem
        utkání je středa 14. září od 17 hodin.
      </p>
    </a>
    <a href="#" class="panel-post">
      <div class="panel-post__date">26. 8. 2022 | 12:12</div>
      <div class="panel-post__title">2. kolo v Zápech</div>
      <p>
        Ve druhém kole pohárového MOL Cupu se představíme na hřišti SK Zápy.
        Úředním termínem utkání je středa 14. září od 17 hodin. Ve druhém kole
        pohárového MOL Cupu se představíme na hřišti SK Zápy. Úředním termínem
        utkání je středa 14. září od 17 hodin.
      </p>
    </a>
    <a href="#" class="panel-post">
      <div class="panel-post__date">26. 8. 2022 | 12:12</div>
      <div class="panel-post__title">2. kolo v Zápech</div>
      <p>
        Ve druhém kole pohárového MOL Cupu se představíme na hřišti SK Zápy.
        Úředním termínem utkání je středa 14. září od 17 hodin. Ve druhém kole
        pohárového MOL Cupu se představíme na hřišti SK Zápy. Úředním termínem
        utkání je středa 14. září od 17 hodin.
      </p>
    </a>
  </div>
  <a href="#" class="button d-block m-auto my-5"> další aktuality</a>
</section>
