<section class="standings-panel panel p-3">
  <h2>Sezóny</h2>
  <ul class="season-list">
    <li>
      <a href="#"> Sezóna 2022/23 </a>
    </li>
    <li>
      <a class="active" href="#"> Sezóna 2021/22 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2020/21 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2019/20 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2018/19 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2017/18 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2016/17 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2020/21 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2019/20 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2018/19 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2017/18 </a>
    </li>
    <li>
      <a href="#"> Sezóna 2016/17 </a>
    </li>
  </ul>
  <button id="loadMoreBtn" class="button m-auto my-5">načíst další</button>
  <a target="_blank" href="#" class="standings-panel__pub">
    <img
      class="w-100"
      src="https://via.placeholder.com/320x150"
      loading="lazy"
      alt=""
    />
  </a>
</section>
