<section class="standings-panel panel p-3">
  <h2>Soupisky</h2>
  <ul>
    <li>
      <a href="#"> Soupiska 2022/23 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2021/22 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2020/21 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2019/20 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2018/19 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2017/18 </a>
    </li>
    <li>
      <a href="#"> Soupiska 2016/17 </a>
    </li>
  </ul>
</section>
