<section class="hp-matches">
  <div class="hp-matches__inner">
    <div class="hp-matches__item">
      <div class="hp-matches__date">5. kolo / neděle 28. 9. 2021 / 18:00</div>
      <div class="hp-matches__box">
        <div class="hp-matches__box-img">
          <img src="images/content/logo-2.png" alt="" />
        </div>
        <div class="hp-matches__box-result">
          <span>4</span>
          <span>2</span>
        </div>
        <div class="hp-matches__box-teams">
          <span class="match__team--long"> HC Wikov Hronov </span>
          <span class="match__team--short"> Hronov </span>
          <span class="match__team--long"> HC Sparta Praha </span>
          <span class="match__team--short"> Praha </span>
        </div>
      </div>
      <div class="hp-matches__links">
        <a class="hp-matches__link hp-matches__link--report" href="#">
          <span>Report</span>
        </a>
        <a class="hp-matches__link hp-matches__link--tiskovka" href="#">
          Tiskovka
        </a>
        <a class="hp-matches__link hp-matches__link--foto" href="#">
          <span>Foto</span>
        </a>
      </div>
    </div>
    <div class="hp-matches__item">
      <div class="hp-matches__date">5. kolo / neděle 28. 9. 2021 / 18:00</div>
      <div class="hp-matches__box">
        <div class="hp-matches__box-img">
          <img src="images/ico/logo.svg" alt="" />
        </div>
        <div class="hp-matches__box-teams">
          <span class="match__team--long"> HC Wikov Hronov </span>
          <span class="match__team--short"> Hronov </span>
          <span class="match__team--long"> HC Energie Karlovy Vary </span>
          <span class="match__team--short"> Karlovy Vary </span>
        </div>
      </div>
      <div class="hp-matches__links">
        <a class="hp-matches__link hp-matches__link--preview" href="#">
          <span>Preview</span>
        </a>
        <a class="hp-matches__link hp-matches__link--online" href="#">
          <span>On-line</span>
        </a>
      </div>
    </div>
    <div class="hp-matches__item">
      <div class="hp-matches__date">5. kolo / neděle 28. 9. 2021 / 18:00</div>
      <div class="hp-matches__box">
        <div class="hp-matches__box-img">
          <img src="images/content/logo.jpg" alt="" />
        </div>
        <div class="hp-matches__box-teams">
          <span class="match__team--long"> HC Wikov Hronov </span>
          <span class="match__team--short"> Hronov </span>
          <span class="match__team--long"> HC Oceláři Třinec </span>
          <span class="match__team--short"> Oceláři Třinec </span>
        </div>
      </div>
      <div class="hp-matches__links">
        <a class="hp-matches__link hp-matches__link--preview" href="#">
          <span>Preview</span>
        </a>
        <a class="hp-matches__link hp-matches__link--tikets" href="#">
          <span>Vstupenky</span>
        </a>
      </div>
    </div>
  </div>
</section>
