<section class="statistics-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <h1 class="mt-lg-10 mt-6 h1 mb-10">Statistiky Muži A 2021/22</h1>
        <ul class="menu-filter nav-tabs nav">
          <li><a class="active" href="#pripravka">příprava </a> |</li>
          <li><a href="#zaklad"> základní část </a></li>
          <li><a href="#playoff"> play-off </a> |</li>
          <li><a href="#baraz"> baráž</a> </li>
        </ul>
      <div class="o-content mt-8">
        

        <div class="tab-content">
          <div class="tab-pane in active" id="pripravka">
            <h2>Brankáři</h2>
            <table>
              <thead>
                <tr>
                  <th class="cislo" style="text-align: left; width: 20px">#</th>
                  <th style="text-align: left; width: 150px">
                    <a href=" #">Jméno</a>
                  </th>
                  <th class="z center">
                    <a href="#">Z</a>
                  </th>
                  <th class="min right">
                    <a href="#">Min</a>
                  </th>
                  <th class="str right">
                    <a href="#">Stř</a>
                  </th>
                  <th class="ink right">
                    <a href="#">Ink</a>
                  </th>
                  <th class="zas right">
                    <a href="#">Zás</a>
                  </th>
                  <th class="pru right">
                    <a href="#">Prů</a>
                  </th>
                  <th class="usp right">
                    <a href="#">Úsp</a>
                  </th>
                  <th class="so right">
                    <a href="#">SO</a>
                  </th>
                  <th class="a right">
                    <a href="#">A</a>
                  </th>
                  <th class="tm right">
                    <a href="#">TM</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Maxim Žukov</strong></a>
                  </td>

                  <td class="z" style="text-align: center">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td class="min" style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle minut"
                      >121:00</a
                    >
                  </td>
                  <td class="str" style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle střel"
                      >42</a
                    >
                  </td>
                  <td class="ink" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle inkasovaných gólů"
                      >6</a
                    >
                  </td>
                  <td class="zas" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle zásahů"
                      >36</a
                    >
                  </td>
                  <td class="pru" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle průměru"
                      >2,98</a
                    >
                  </td>
                  <td class="usp" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle úspěšnosti"
                      ><strong>85,71</strong></a
                    >
                  </td>
                  <td class="so" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle čistých kont"
                      >0</a
                    >
                  </td>
                  <td class="a" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>David Sachr</strong></a>
                  </td>

                  <td class="z" style="text-align: center">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td class="min" style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle minut"
                      >120:00</a
                    >
                  </td>
                  <td class="str" style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle střel"
                      >57</a
                    >
                  </td>
                  <td class="ink" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle inkasovaných gólů"
                      >7</a
                    >
                  </td>
                  <td class="zas" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle zásahů"
                      >50</a
                    >
                  </td>
                  <td class="pru" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle průměru"
                      >3,5</a
                    >
                  </td>
                  <td class="usp" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle úspěšnosti"
                      ><strong>87,72</strong></a
                    >
                  </td>
                  <td class="so" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle čistých kont"
                      >0</a
                    >
                  </td>
                  <td class="a" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>

            <h2>Hráči v poli</h2>
            <table>
            <thead>
               <tr>
                  <th class="cislo" style="text-align: left; width: 20px">#</th>
                  <th style="text-align: left; width: 150px">
                    <a href="#">Jméno</a>
                  </th>
                  <th class="center">
                    <a href="#">P</a>
                  </th>
                  <th class="right">
                    <a href="#">Z</a>
                  </th>
                  <th class="right">
                    <a href="#">G</a>
                  </th>
                  <th class="right">
                    <a href="#">A</a>
                  </th>
                  <th class="right">
                    <a href="#">B</a>
                  </th>
                  <th class="plusminus right">
                    <a href="#">+/-</a>
                  </th>
                  <th class="tm right">
                    <a href="#">TM</a>
                  </th>
                </tr>
            </thead>
             <tbody>
               <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Ondřej Němec</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >5</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>5</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>David Kajínek</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >3</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>3</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >27</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Tom Ondračka</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>2</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Šimon Jenáček</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Ondřej Smetana</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Václav Kočí</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Jiří Říha</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >2</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Marek Voženílek</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >2</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Michal Hryciow</strong></a>
                  </td>
  
                  <td style="text-align: center">O</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr class="delici_cara">
                  <td colspan="10" class="">&nbsp;</td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Pavel Klhůfek</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >3</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>5</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Peter Lichanec</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >3</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>5</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Daniel Klímek</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >3</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>4</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >2</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Jan Berger</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >3</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>4</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Riku Sihvonen</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>3</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Pavel Jenyš</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>3</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Roman Přikryl</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit zápasy kde hráč nastoupil"
                      >4</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#
                      title="Zobrazit podrobné statistiky podle gólů"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>3</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Jan Štefka</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>2</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Štěpán Bláha</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >2</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>2</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Luboš Rob</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">1</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Daniels Berzinš</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">1</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>David Vítek</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >2</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Richard Pětník</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">3</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >1</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>1</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Adam Bachánek</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">1</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Adam Koláček</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">2</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >0</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="cislo" style="text-align: left"></td>
                  <td class="jmeno">
                    <a href="#"><strong>Adam Hořanský</strong></a>
                  </td>
  
                  <td style="text-align: center">U</td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit zápasy kde hráč nastoupil">4</a>
                  </td>
                  <td style="text-align: right">
                    <a href="#" title="Zobrazit podrobné statistiky podle gólů"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle asistencí"
                      >0</a
                    >
                  </td>
                  <td style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle kanadských bodů"
                      ><strong>0</strong></a
                    >
                  </td>
                  <td class="plusminus" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle hodnocené plus minus"
                      >0</a
                    >
                  </td>
                  <td class="tm" style="text-align: right">
                    <a
                      href="#"
                      title="Zobrazit podrobné statistiky podle trestných minut"
                      >4</a
                    >
                  </td>
                </tr>
             </tbody>
            </table>
            <p>
              <strong>statistiky vygenerovány:</strong> 01.09.2022/ 19:20<br />
            </p>

            <h2>Vysvětlivky sloupců</h2>
            <h3>Brankáři</h3>
            <p>
              <strong># </strong>- číslo dresu v posledním zápase (pro případ,
              že by se měnilo) <br /><strong>Z </strong>- počet zápasů, v nichž
              hráč nastoupil <br /><strong>Min </strong>- počet odchytaných
              minut <br /><strong>Stř </strong>- počet střel vyslaných na
              brankáře <br /><strong>Ink </strong>- počet inkasovaných gólů
              <br /><strong>Zás </strong>- počet zásahů <br /><strong
                >Prů </strong
              >- průměr gólů na zápas ( = inkasované góly / minuty/60 )
              <br /><strong>Úsp </strong>- úspěšnost zásahů ( = zásahy / střely
              ) <br /><strong>SO </strong>- shut-outy, vychytané nuly
              <br /><strong>A </strong>- asistence <br /><strong>TM </strong>-
              trestné minuty
            </p>
            <h3>Hráči v poli</h3>
            <p>
              <strong># </strong>- číslo dresu v posledním zápase (pro případ,
              že by se měnilo) <br /><strong>Z </strong>- počet zápasů, v nichž
              hráč nastoupil <br /><strong>P</strong> - post (obránce nebo
              útočník) <br /><strong>Z</strong> - počet zápasů, v nichž hráč
              nastoupil <br /><strong>G, A, B</strong> - góly, asistence, body
            </p>
            <h3>Kontakt</h3>
            <p>
              Pokud budete mít ke statistikám jakékoliv připomínky nebo otázky,
              kontaktujte nás prosím na emailu:
              <a href="mailto:weby@esports.cz">weby@esports.cz</a>.
            </p>
          </div>
          <div class="tab-pane fade" id="zaklad">
             kontent 2
          </div>
          <div class="tab-pane fade" id="playoff">
            kontent 3
          </div>
          <div class="tab-pane fade" id="baraz">
            kontent 4
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      {% include "@components/standings-panel/table-panel.twig" %}
    </div>
  </div>
</section>
