<section class="team-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <div class="o-content mt-6">
        <h1 class="">Soupiska Muži A 2021/22</h1>
        <h2 class="h2">Brankáři</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
        </div>
        <h2>Obránci</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
        </div>
        <h2>Záložníci</h2>
        <div class="row mb-10">
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="h2">Útočníci</h2>
        <div class="row mb-10">
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <span>1</span>
              </a>
              <div class="team-section__info">
                <a href="#">Daniel KAŠÍK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-section__item">
              <a class="team-section__img" href="#">
                <img src="images/content/hrac-mini.png" alt="" />
                <span>27</span>
              </a>
              <div class="team-section__info">
                <a href="#">Michal KOŘÉNEK</a>
                <p>22 let / 181 cm / 74 kg / L</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      {% include "@components/standings-panel/team-panel.twig" %}
    </div>
  </div>
</section>
