<section class="team-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <div class="o-content mt-6">
        <h1 class="">Soupiska Muži A 2021/22</h1>
        <h2 class="h2">Brankáři</h2>
        <table class="table mb-4">
          <tr>
            <th style="width: 40px">#</th>
            <th class="text-uppercase">Jméno hráče</th>
            <th
              style="width: 60px"
              class="text-uppercase"
              title="počet odehraných minut"
            >
              Min
            </th>
            <th
              style="width: 40px"
              title="počet zápasů, v nichž hráč nastoupil"
            >
              Z
            </th>
            <th
              style="width: 40px"
              class="text-uppercase"
              title="počet inkasovaných gólů"
            >
              Ink
            </th>
            <th
              style="width: 40px"
              class="text-uppercase"
              title="počet vychytaných nul (pouze odchytá-li 90 minut)"
            >
              Nul
            </th>
            <th style="width: 40px" title="vstřelené góly">G</th>
            <th style="width: 40px" title="žluté karty">ŽK</th>
            <th style="width: 40px" title="červené karty">ČK</th>
          </tr>

          <tr>
            <td>1</td>
            <td class="text-nowrap">
              <a href="/player/241&category=MUZ">Lukáš Konrád</a>
            </td>
            <td>180</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
          </tr>

          <tr>
            <td>29</td>
            <td class="text-nowrap">
              <a href="/player/2&category=MUZ">Jakub Mazánek</a>
            </td>
            <td>425</td>
            <td>9</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>

          <tr>
            <td>1</td>
            <td class="text-nowrap">
              <a href="/player/1&category=MUZ">Patrik Soukal</a>
            </td>
            <td>495</td>
            <td>10</td>
            <td>7</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
        <h2>Obránci</h2>
        <table class="table mb-4">
          <tr>
            <th style="width: 40px">#</th>
            <th class="text-uppercase">Jméno hráče</th>
            <th
              style="width: 60px"
              class="text-uppercase"
              title="počet odehraných minut"
            >
              Min
            </th>
            <th
              style="width: 40px"
              title="počet zápasů, v nichž hráč nastoupil"
            >
              Z
            </th>
            <th style="width: 40px" title="vstřelené góly">G</th>
            <th style="width: 40px" title="žluté karty">ŽK</th>
            <th style="width: 40px" title="červené karty">ČK</th>
          </tr>

          <tr>
            <td>4</td>
            <td class="text-nowrap">
              <a href="/player/5&category=MUZ">Adam Dejl</a>
            </td>
            <td>1123</td>
            <td>13</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
          </tr>

          <tr>
            <td>16</td>
            <td class="text-nowrap">
              <a href="/player/6&category=MUZ">Lukáš Dočkal</a>
            </td>
            <td>252</td>
            <td>11</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
          </tr>

          <tr>
            <td>15</td>
            <td class="text-nowrap">
              <a href="/player/4&category=MUZ">Pavel Malimánek</a>
            </td>
            <td>0</td>
            <td>6</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>

          <tr>
            <td>3</td>
            <td class="text-nowrap">
              <a href="/player/14&category=MUZ">Jakub Peca</a>
            </td>
            <td>412</td>
            <td>10</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
          </tr>

          <tr>
            <td>7</td>
            <td class="text-nowrap">
              <a href="/player/10&category=MUZ">Roman Turek</a>
            </td>
            <td>1045</td>
            <td>12</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
          </tr>
        </table>
        <h2>Záložníci</h2>
        <table class="table mb-4">
          <tr>
            <th style="width: 40px">#</th>
            <th class="text-uppercase">Jméno hráče</th>
            <th
              style="width: 60px"
              class="text-uppercase"
              title="počet odehraných minut"
            >
              Min
            </th>
            <th
              style="width: 40px"
              title="počet zápasů, v nichž hráč nastoupil"
            >
              Z
            </th>
            <th style="width: 40px" title="vstřelené góly">G</th>
            <th style="width: 40px" title="žluté karty">ŽK</th>
            <th style="width: 40px" title="červené karty">ČK</th>
          </tr>

          <tr>
            <td>11</td>
            <td class="text-nowrap">
              <a href="/player/17&category=MUZ">Jan Bajer</a>
            </td>
            <td>972</td>
            <td>12</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
          </tr>

          <tr>
            <td>17</td>
            <td class="text-nowrap">
              <a href="/player/240&category=MUZ">Jakub Coufal</a>
            </td>
            <td>572</td>
            <td>10</td>
            <td>2</td>
            <td>5</td>
            <td>0</td>
          </tr>

          <tr>
            <td>9</td>
            <td class="text-nowrap">
              <a href="/player/18&category=MUZ">Daniel Fikar</a>
            </td>
            <td>1015</td>
            <td>13</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
          </tr>

          <tr>
            <td>6</td>
            <td class="text-nowrap">
              <a href="/player/238&category=MUZ">David Trinh</a>
            </td>
            <td>1018</td>
            <td>13</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
          </tr>

          <tr>
            <td>8</td>
            <td class="text-nowrap">
              <a href="/player/11&category=MUZ">Martin Cakl</a>
            </td>
            <td>935</td>
            <td>12</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
          </tr>

          <tr>
            <td>2</td>
            <td class="text-nowrap">
              <a href="/player/12&category=MUZ">Vít Hloušek</a>
            </td>
            <td>473</td>
            <td>11</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
          </tr>

          <tr>
            <td></td>
            <td class="text-nowrap">
              <a href="/player/26&category=MUZ">Vojtěch Novák</a>
            </td>
            <td>612</td>
            <td>12</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>

          <tr>
            <td>5</td>
            <td class="text-nowrap">
              <a href="/player/25&category=MUZ">Jiři Pabousek</a>
            </td>
            <td>74</td>
            <td>9</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>

          <tr>
            <td></td>
            <td class="text-nowrap">
              <a href="/player/239&category=MUZ">Jan Pavlík</a>
            </td>
            <td>285</td>
            <td>9</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
        <h2 class="h2">Útočníci</h2>
        <table class="table mb-4">
          <tr>
            <th style="width: 40px">#</th>
            <th class="text-uppercase">Jméno hráče</th>
            <th
              style="width: 60px"
              class="text-uppercase"
              title="počet odehraných minut"
            >
              Min
            </th>
            <th
              style="width: 40px"
              title="počet zápasů, v nichž hráč nastoupil"
            >
              Z
            </th>
            <th style="width: 40px" title="vstřelené góly">G</th>
            <th style="width: 40px" title="žluté karty">ŽK</th>
            <th style="width: 40px" title="červené karty">ČK</th>
          </tr>

          <tr>
            <td></td>
            <td class="text-nowrap">
              <a href="/player/28&category=MUZ">Petr Karlík</a>
            </td>
            <td>9</td>
            <td>10</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>

          <tr>
            <td>12</td>
            <td class="text-nowrap">
              <a href="/player/21&category=MUZ">Marek Šilhart</a>
            </td>
            <td>204</td>
            <td>12</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-4">
      {% include "@components/standings-panel/team-panel.twig" %}
    </div>
  </div>
</section>
