.juniors {
  margin-top: 60px;
  .h2 {
    padding-left: 8px;
    margin-bottom: 16px;
  }
}
.juniors-menu {
  padding-bottom: 8px;
  a {
    max-width: 14.28%;
    flex: 0 0 14.28%;
    padding: 0 0.625rem;
    text-align: center;
    color: var(--color-red);
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1.125rem;
    text-decoration: none;
  }
  .active {
    color: var(--color-dark);
  }
}
.juniors-content {
  display: none;
}
.juniors-content.active {
  display: block;
}
