<section class="juniors">
  <h3 class="h2">Mládež</h3>
  <ul class="juniors-menu nav-tabs nav">
    <li>
      <a data-toggle="tab" class="active" href="#U19">U19</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U18">U18</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U17">U17</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U16">U16</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U15">U15</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U14">U14</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U13">U13</a>
    </li>
    <li>
      <a data-toggle="tab" href="#U12">U12</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="juniors-content tab-pane in active" id="U19">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U18">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U17">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U16">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U15">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U14">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U13">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
    <div class="juniors-content tab-pane fade" id="U12">
      {% include "@components/hp-matches/hp-matches.twig" %}
    </div>
  </div>
</section>
