<section class="match-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <div class="match-section__img mb-lg-8 mb-6">
        <img
          loading="lazy"
          src="images/content/clanek-top.jpg"
          class="lazyload"
          alt=""
        />
      </div>
      <div class="match-section__content o-content">
        <h1 class="h1 mb-5">
          V ODVETĚ S DRAKY VSETÍN USPĚL, ŠUMPERK PORAZIL PO NÁJEZDECH
        </h1>

        <div class="match-section__tag mb-5">ALENA RYŠAVÁ • 31.08.2021</div>
        <p>
          Valaši v úterním střetnutí proti Šumperku několikrát vedli, hosté ale
          pokaždé dokázali srovnat tempo hry i skóre utkání. Ve druhé třetině za
          stavu 2:2 šel Vsetín do vedení 4:2 po dvou trefách v přesilových
          hrách. Draci se ale nevzdali, vrátili se do zápasu, v poslední třetině
          srovnali stav zápasu na 4:4, a tak musely o vítězi utkání rozhodnout
          až samostatné nájezdy, ve kterých byli úspěšnější domácí, vítězství
          nakonec Vsetínu vystřelil Roman Vlach.
        </p>
        <div class="match-section__box">
          <div class="row justify-content-center">
            <div class="col-md-3 col-auto">
              <div class="match-section__logo">
                <img src="images/content/logo.jpg" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="match-section__info">
                <div class="match-section__tag mb-4">
                  PŘÍPRAVNÉ ZÁPASY - PŘÍPRAVA ÚT 31.8.18:00
                </div>
                <h2>VHK Robe Vsetín</h2>
                <h2>HC Rožnov</h2>
                <div class="match-section__data win">
                  5:4sn
                  <span>(2:2, 2:1, 0:1 - 1:0)</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-auto">
              <div class="match-section__logo">
                <img src="images/content/logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="match-section__descr">
          <p>
            <strong>Branky a nahrávky:</strong> 8. Ondračka (Vlach, Zeman), 19.
            Rob (Říha), 26. Rob (Štach, Jonák), 29. Vlach (Indrák, Štach), rozh.
            náj. Vlach – 15. Kratochvíl (Pěnčík), 20. Žálčík (Vachutka, Kindl),
            40. Drtil (Kohút), 47. Žálčík (Březák). rozhodující nájezd: Vlach.
            <strong> Rozhodčí:</strong> Škrobák, Kovařčík - Tomeček, Šimek.
            <strong>Vyloučení:</strong> 3:8. <strong>Využití:</strong> 2:0.
            <strong>V oslabení:</strong> 0:0. <strong>Diváci:</strong> 890.
            <strong>Střely na branku:</strong>
            36:20. <strong>Průběh utkání:</strong> 1:0, 1:1, 2:1, 2:2, 4:2, 4:4,
            5:4sn.
          </p>
          <div class="match-section__team">
            <img src="images/content/logo.jpg" alt="" />
            <p>
              <strong> VHK ROBE Vsetín:</strong>
              Málek – Ondračka, Říha, Smetana, Štach, Jenáček Š., Hryciow,
              Vosátko - Jonák, Indrák, Rob - Berger, Vlach, Zeman - Půček,
              Březina, Klímek - Hořanský, Gago, Majdan.
            </p>
          </div>
          <div class="match-section__team">
            <img src="images/content/logo.png" alt="" />
            <p>
              <strong> HC Rožnov pod Radhoštěm:</strong>
              Holík – Hrachovský, Březák, Rutar Ludvík, Dudycha, Drtil, Pěnčík,
              Řezáč – Kindl, Vildumetz, Vachutka, Horký, Spratek, Macuch,
              Antoníček, Furch, Kučera Lukáš, Kohút, Scheuter, Žálčík,
              Kratochvíl
            </p>
          </div>
        </div>
        <p>
          Na první branku zápasu se sice muselo čekat až do druhé poloviny první
          třetiny, ale poté se na Lapači rozthrl gólový pytel. Účet zápasu
          otevřel krásnou střelou pod víko Tom Ondračka. Na jeho akci ovšem po
          téměř dvou minutách zareagoval šumperský Petr Kratochvíl. V
          devatenácté minutě už to vypadalo, že Luboš Rob dal Drakům branku do
          šatny. Tři sekundy před koncem se však kuriózně prosadil Lukáš Žálčík
          a do kabin se šlo za vyrovnaného stavu.
        </p>
        <p>
          Valaši do druhé periody vstoupili s jasnou myšlenkou. Co nejdříve
          rozhodnout zápas a zlomit dračí odpor. Jejich plán začal na výbornou.
          První formace Vsetína pět minut po startu druhé části poslala svůj tým
          opět do vedení zásluhou spojení Lubomír Štach, Vít Jonák a zakončující
          Luboš Rob. Poté domácí zvýšili krásnou přesilovkovou souhrou na
          dvoubrankový rozdíl, kdy se střelou mezi Holíkovy betony prosadil
          Roman Vlach. Jenže Vsetín ani tentokrát neuhlídal konec třetiny a
          bombou z první snížil Tomáš Drtil.
        </p>
        <p>
          I přestože byl Vsetín opticky lepším týmem, Draci dokázali proměňovat
          své příležitosti a ani při rozdílu dvou branek utkání nezabalili.
          Právě třetí gól hosty značně nabudil a do poslední části nastoupili s
          velkou vervou. Snažení Draků nakonec zužitkoval Lukáš Žálčík, který
          doslova perfektně prokličkoval útočné pásmo a poté si poradil i se
          vsetínským gólmanem. Prodloužení se nehrálo a utkání se tak může
          považovat za remízu. Místo nastaveného času hráči rovnou jeli nájezdy,
          ve kterých se radovali domácí.
        </p>
        <h3>OHLASY K UTKÁNÍ</h3>
        <p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Opvos3DPnH0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </p>
      </div>
      <section class="section">
        <h2>Další zprávy</h2>
        {% include "@components/post/post.twig" %} {% include
        "@components/post/post.twig" %} {% include "@components/post/post.twig"
        %}
        <div class="text-end">
          <a href="#" class="button"> Starší články </a>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      {% include "@components/standings-panel/match-panel.twig" %}
    </div>
  </div>
</section>
