.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
.h1,
.o-content h1 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }
}
.h2,
.o-content h2 {
  font-size: 32px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }
}
.h3,
.o-content h3 {
  font-size: 28px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }
}
