.o-content {
  th {
    background-color: var(--color-red);
    color: var(--color-light);
  }
  td {
    a {
      font-weight: 600;
      text-decoration-color: transparent;
      transition: all 0.3s;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h1 {
    margin: 32px 0;
  }
  h2 {
    margin-bottom: 16px;
  }
}
.h1,
.o-content h1 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }
}
.h2,
.o-content h2 {
  font-size: 32px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }
}
.h3,
.o-content h3 {
  font-size: 28px;
  line-height: 125%;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }
}
