<section class="partners-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <h1 class="mt-lg-10 mt-6 h1 mb-10">Partneři</h1>
      <div
        class="row mb-4 g-md-8 g-4 justify-content-center align-items-center"
      >
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/1.JPG?508939837"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/2.png?1084596877"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/7.jpg?1490799955"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/4.jpeg?1636939894"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
        <div class="col-6">
          <a
            class="d-flex h-100 align-items-center justify-content-center"
            href="#"
            target="_blank"
          >
            <img
              src="https://via.placeholder.com/320x210"
              class="w-100"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      {% include "@components/standings-panel/static-panel.twig" %}
    </div>
  </div>
</section>
