.header {
  background-color: #000;
  width: 100%;
  margin-bottom: 20px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 16px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
    @include media-breakpoint-down(xl) {
      justify-content: flex-start;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    padding-left: 28px;
    @include media-breakpoint-down(xl) {
      margin-left: auto;
    }
    @include media-breakpoint-down(xl) {
      display: none;
    }
    .kis {
      padding-left: 28px;
      a {
        text-decoration: none;
        font-weight: 700;
        font-size: 28px;
        color: var(--color-light);
        letter-spacing: 1.5px;
        font-family: "Dosis", sans-serif;
      }
    }
    li {
      padding: 0 6px;

      a {
        width: 24px;

        display: flex;
        transition: var(--transition);
        align-items: center;
        justify-content: center;
        &:hover {
          transform: scale(1.1);
        }
      }
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
  &__title {
    font-size: 32px;
    line-height: 125%;
    display: block;
    color: #fffe00;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__logo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 999999;
    box-shadow: 0px 1px 4px rgba(0, 8, 20, 0.0964782),
      0px 8px 24px rgba(0, 8, 20, 0.0964782);
    left: 0;
    right: 0;
    width: 120px;
    height: 120px;
    top: 10px;
    margin: 0 auto;
    padding: 12px;
    background-color: #fff;
    transition: var(--transition);
    @include media-breakpoint-down(lg) {
      width: 80px;
      height: 80px;
    }
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.c-header__opener {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-light);
  text-transform: uppercase;

  margin-right: 8px;
  z-index: 9999;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0;
    padding-right: 12px;
  }
  span {
    transition: all 0.3s;
    width: 24px;
    height: 3px;
    background: #fff;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    display: block;
    margin-left: 16px;
    &::before,
    &::after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      background: #fff;
      left: 0;
      right: 0;
      box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    }
    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }
  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-only(xxl) {
    display: none;
  }
  @include media-breakpoint-only(xl) {
    display: none;
  }
}
.c-header__opener.is-open {
  span {
    border-color: var(--color-dark);
    background: var(--color-dark);
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
.header__search {
  position: relative;
  width: 13.4375rem;
  margin-left: auto;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 0.875rem;
  height: 2rem;
  color: #5e6673;
  padding-left: 0.875rem;
  padding-right: 2rem;
}
.search-btn {
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
  background-image: url(../images/ico/search.svg);
  width: 0.875rem;
  height: 0.875rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
