.header {
  background-color: #000;
  width: 100%;
  margin-bottom: 20px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 16px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
    @include media-breakpoint-down(xl) {
      justify-content: flex-start;
    }
    @include media-breakpoint-down(xl) {
    }
  }
  &__social {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xl) {
      margin-left: auto;
    }
    li {
      padding: 0 4px;
      width: 40px;
      height: 40px;
      a {
        width: 100%;
        height: 100%;
        display: block;
        transition: var(--transition);

        &:hover {
          transform: scale(1.1);
        }
      }
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
  &__title {
    font-size: 32px;
    line-height: 125%;
    display: block;
    color: #fffe00;
    text-decoration: none;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &__logo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 999999;
    box-shadow: 0px 1px 4px rgba(0, 8, 20, 0.0964782),
      0px 8px 24px rgba(0, 8, 20, 0.0964782);
    left: 0;
    right: 0;
    width: 120px;
    height: 120px;
    top: 10px;
    margin: 0 auto;
    padding: 12px;
    background-color: #fff;
    transition: var(--transition);
    @include media-breakpoint-down(md) {
      width: 100px;
      height: 100px;
    }
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.c-header__opener {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-light);
  text-transform: uppercase;

  margin-right: 8px;
  z-index: 9999;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0;
    padding-right: 12px;
  }
  span {
    transition: all 0.3s;
    width: 24px;
    height: 3px;
    background: #fff;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    display: block;
    margin-left: 16px;
    &::before,
    &::after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      background: #fff;
      left: 0;
      right: 0;
      box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    }
    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }
  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-only(xxl) {
    display: none;
  }
  @include media-breakpoint-only(xl) {
    display: none;
  }
}
.c-header__opener.is-open {
  span {
    border-color: var(--color-dark);
    background: var(--color-dark);
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
