<header class="header">
  <div class="container">
    <div class="header__inner">
      <button class="c-header__opener js-header__opener" type="button">
         <span></span>
       </button>
      <a class="header__title" href="/">HC Rožnov pod Radhoštěm</a>
      <a class="header__logo" href="/">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
      </a>
      <ul class="header__social">
        <li>
          <a href="#">
            <img src="images/ico/facebook.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
