<header class="header">
  <div class="container">
    <div class="header__inner">
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
      <a class="header__title" href="/">HC Rožnov pod Radhoštěm</a>
      <a class="header__logo" href="/">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
      </a>
      <div class="header__search">
        <form class="search" method="get">
          <input type="text" class="search-input" placeholder="Vyhledat">
          <button class="search-btn"></button>
        </form>
      </div>
      <ul class="header__social">
        <li>
          <a href="#">
            <img src="images/ico/facebook.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/ico/instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/ico/youtube.svg" alt="" />
          </a>
        </li>
        <li class="kis">
          <a href="#">KIS</a>
        </li>
      </ul>
    </div>
  </div>
</header>
