<section class="matches-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <div class="o-content mt-6">
        <h1 class="">Tabulka sezóna 2022/23</h1>
        <ul class="menu-filter nav-tabs nav">
          <li><a class="active" href="#vysledky">jen výsledky </a> |</li>
          <li><a href="#stats"> statistiky</a></li>
          <li><a href="#doma"> pouze doma</a> |</li>
          <li><a href="#venku">pouze venku</a> |</li>
          <li><a href="#vse">vše</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane in active" id="vysledky">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  <b>Rožnov</b> - Trenčín
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">5:6</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/tickets.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="stats">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="doma">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="venku">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  <b>Rožnov</b> - Trenčín
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">5:6</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>

            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/tickets.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <div class="matches-section__info">
                  <a href="#" class="matches-section__score">18:00</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="vse">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  <b>Rožnov</b> - Trenčín
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">5:6</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/tickets.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <div class="matches-section__info">
                  <a href="#" class="matches-section__score">18:00</a>
                </div>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  <b>Rožnov</b> - Trenčín
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">5:6</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/eye.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">0:1</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <a href="#" class="matches-section__score">18:00</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/logo-2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__teams">
                <div class="matches-section__date">
                  Příprava v Púchově, út 16.8.2022
                </div>
                <div class="matches-section__names">
                  Trenčín - <b>Rožnov</b>
                </div>
              </div>
              <div class="matches-section__info">
                <ul class="matches-section__links">
                  <li>
                    <a href="#">
                      <img src="images/ico/report.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/repeat.svg" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/ico/tickets.svg" alt="" />
                    </a>
                  </li>
                </ul>
                <div class="matches-section__info">
                  <a href="#" class="matches-section__score">18:00</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      {% include "@components/standings-panel/table-panel.twig" %}
    </div>
  </div>
</section>
