<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center align-items-center footer-slider">
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/1.JPG?508939837"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/2.png?1084596877"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/4.jpeg?1636939894"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/7.jpg?1490799955"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/1.JPG?508939837"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/2.png?1084596877"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/4.jpeg?1636939894"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="footer-slider__item" href="#">
            <img
              src="https://fcslovanhb.esports.cz/adds/db_partners/logos/7.jpg?1490799955"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-pub">
      <div class="container">
        <div class="row g-lg-10 g-5">
          <div class="col-md-6">
            <a href="#" class="footer-pub__link">
              <img src="https://placehold.co/690x380" loading="lazy" alt="" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="footer-pub__link">
              <img src="https://placehold.co/690x380" loading="lazy" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer__inner">
        <div class="footer__col-logo">
          <a href="#" class="footer__logo">
            <img src="images/content/logo.png" loading="lazy" alt="logo" />
          </a>
        </div>
        <div class="footer__col">
          <h4 class="h4">HC Rožnov pod Radhoštěm</h4>
          <ul class="footer-menu">
            <li>Zimní stadion Bučiska 2305</li>
            <li>756 61 Rožnov pod Radhoštěm</li>
          </ul>
        </div>
        <div class="footer__col">
          <h4 class="h4">Informace</h4>
          <ul class="footer-menu">
            <li><strong>IČO:</strong> 48 77 30 26</li>
            <li><strong>DIČ</strong>: CZ 48 77 30 26</li>
            <li>
              <strong
                >Email:
                <a href="mailto:info@hcroznov.com">info@hcroznov.com</a></strong
              >
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <h4 class="h4">Sociální sítě</h4>
          <ul class="footer-social">
            <li>
              <a href="#">
                <img src="images/ico/facebook.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/ico/instagram.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/ico/youtube.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom__descr">
        <div class="rss">Cookie | <a href="rss.asp">RSS</a></div>

        <div class="copyright">
          © 2023 HC Rožnov pod Radhoštěm &
          <a href="https://esportsmedia.cz/">eSports.cz, s.r.o.</a>
        </div>
      </div>
    </div>
  </div>
</footer>
