<article class="post">
  <a href="#">
    <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
  </a>
  <h3 class="h3">
    <a href="#" class="text-decoration-none"
      >U15 - Srdnatý výkon bohužel na body nestačil
    </a>
  </h3>
  <p>
    Ve šlágru jarní sezóny jsme podlehli lídrovi soutěže. Utkání nabídlo velmi
    kvalitní podívanou prvních dvou týmů divizní…
  </p>
  <div class="post-info">8. 5. 2023 | Redakce</div>
</article>
