<section class="topstory">
  <a href="#" class="topstory-item">
    <img
      loading="lazy"
      src="images/content/clanek-top.jpg"
      class="lazyload"
      alt=""
    />
    <div class="topstory-item-detail">
      <h1 class="topstory-item-title m-0 pr-2 text-white font-weight-bold h1">
        Vedení do kabin neudrželi a odjeli s prázdnou
      </h1>
      <div class="topstory-item-meta">
        <span class="date">14. 5. 2023</span> |
        <span class="author">Redakce</span>
      </div>
    </div>
  </a>
</section>
