:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-red: #a50013;
  --color-silver: #ece9e9;
  --transition: all 0.3s;
  --color-dark-gray: #a29090;

  --shadow: 0px 1px 4px rgba(0, 8, 20, 0.0964782),
    0px 8px 24px rgba(0, 8, 20, 0.0964782);

  --color-yellow: #fffe00;
}
