<section class="gallery-section">
  <div class="row gx-10">
    <div class="col-lg-8">
      <div class="o-content mt-lg-10 mt-6">
        <h1>Fotogalerie</h1>
        <div class="header-section__row">
          <form action="" class="header-section__form header-section__label">
            <div class="header-section__category">Vyhledávání</div>
            <div class="header-section__input">
              <input type="text" placeholder="Hledaný text" />
              <button class="header-section__btn">
                <img
                  src="images/ico/search-menu.svg"
                  loading="lazy"
                  alt="search-menu"
                />
              </button>
            </div>
          </form>

          <label class="o-select header-section__label">
            <div class="header-section__category">Rok</div>
            <select class="js-select">
              <option>Rok</option>
              <option>2018/2019</option>
              <option>2019/2020</option>
              <option>2020/2021</option>
              <option>2021/2022</option>
              <option>2022/2023</option>
              <option>2023/2024</option>
            </select>
          </label>
        </div>
      </div>
      <article class="post">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
        </a>
        <div class="post-info">8. 5. 2023 | Redakce</div>
        <h3 class="h3">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="text-decoration-none"
            >U15 - Srdnatý výkon bohužel na body nestačil
          </a>
        </h3>
      </article>
      <article class="post">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
        </a>
        <div class="post-info">8. 5. 2023 | Redakce</div>
        <h3 class="h3">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="text-decoration-none"
            >U15 - Srdnatý výkon bohužel na body nestačil
          </a>
        </h3>
      </article>
      <article class="post">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
        </a>
        <div class="post-info">8. 5. 2023 | Redakce</div>
        <h3 class="h3">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="text-decoration-none"
            >U15 - Srdnatý výkon bohužel na body nestačil
          </a>
        </h3>
      </article>
      <article class="post">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
        </a>
        <div class="post-info">8. 5. 2023 | Redakce</div>
        <h3 class="h3">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="text-decoration-none"
            >U15 - Srdnatý výkon bohužel na body nestačil
          </a>
        </h3>
      </article>
      <article class="post">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img src="images/content/clanek-top.jpg" class="lazyload" alt="" />
        </a>
        <div class="post-info">8. 5. 2023 | Redakce</div>
        <h3 class="h3">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="text-decoration-none"
            >U15 - Srdnatý výkon bohužel na body nestačil
          </a>
        </h3>
      </article>
      <nav aria-label="Další stránky">
        <ul
          class="pagination d-flex flex-wrap pagination-flat pagination-success"
        >
          <li class="page-item active">
            <a class="page-link" href="#" data-abc="true">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" data-abc="true"> »</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4">
      {% include "@components/standings-panel/static-panel.twig" %}
    </div>
  </div>
</section>
